<div class="parallax-container">
   <div class="parallax">  <%= image_tag "jumbotron_bg.jpg" %></div>

   <div class="container" id="title-panel">
     <h1 class="display-3 text-center white-text" style="padding-top:50px;">Attractus</h1>
     <p class="lead text-center white-text">Find your favorite national park.</p>
   </div>

   <div class="container">
     <div class="row">
       <div class="col-lg-6 col-lg-offset-3">
         <div class="input-field col-lg-12" id="search-box">
           <%= form_tag("results", :method => "get", id: "search-form") do %>
           <div class="" style="">
              <%= text_field_tag :search, params[:search], id: "search-field", class: "form-control typeahead", placeholder: "Search for a national park...", href:"#bottom-panel" %>
           </div>
           <div class="text-center" style="">
             <%= button_tag( :class => "search-button", :style => "padding-left:0px;", :id =>"search-submit") do %>
               <i class="fa fa-search fa-2x"></i>
              <% end %>
           </div>
           <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>


<div class="container section scrollspy" id="bottom-panel">


  <div class="row ">
    <div id="left-panel" class="col-lg-6 card-panel">
      <div id="disable-panel-text" class="row text-center">
        <p class="disable-panel-text">
          Search for a National Park
        </p>
      </div>
      <div class="row">
        <div id="description"><%= render 'description' %></div>
      </div>
      <div class="row">
          <div id="post">  <%=render 'post',  :remote => true%></div>
      </div>
    </div>

    <div id="map-panel" class="col-lg-6 card-panel">
    </div>
  </div>
</div>


<script>
    // google map setup
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map-panel'), {
          center: {lat: 34.0522, lng: -118.2437},
          zoom: 8
        });

        var geocoder = new google.maps.Geocoder();
         document.getElementById('search-submit').addEventListener('click', function() {

           geocodeAddress(geocoder, map);

         });
      }
      // find park through geocoder
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        address = address + " National Park";
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
</script>
