<!DOCTYPE html>
<html>
<head>
  <title>Attractus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

</body>

<!-- google map api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx0luooYlz57a-igxuMQW3nDZWdMLL0IM&callback=initMap"
  async defer>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx0luooYlz57a-igxuMQW3nDZWdMLL0IM&libraries=places">
</script>

<script>
  $( document ).ready(function() {
       $('.parallax').parallax();
       $('body').scrollspy();


    });
    //parallax effect for jumbotron
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax(){
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight-scrolled) + 'px');
    }

    $(window).scroll(function(e){
        parallax();
    });

    //search form ajax
    $(function () {
      $('#search-form').submit(function () {
      $.get(this.action, $(this).serialize(), null, 'script');

      var hash = "#bottom-panel";
      $('html, body').animate({

        scrollTop: $(hash).offset().top-40
      }, 800, function(){
        window.location.hash = hash;
      });
      return false;
      });

    });

    //typeahead for parks

      var engine = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('d'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: [{d: "Denali"}, {d: "Gates of the Arctic"}, {d: "Glacier Bay"}, {d: "Katmai"}
        , {d: "Kenai Fjords"}, {d: "Kobuk Valley"}, {d: "Lake Clark"}, {d: "Wrangell - St. Elias"}, {d: "American Samoa"}, {d: "Grand Canyon"}
        , {d: "Petrified Forest"}, {d: "Saguaro"}, {d: "Hot Springs"}, {d: "Channel Islands"}, {d: "Death Valley"}, {d: "Joshua Tree"}
        , {d: "Kings Canyon"}, {d: "Lassen Volcanic"}, {d: "Redwood"}, {d: "Sequoia"}, {d: "Yosemite"}, {d: "Black Canyon of the Gunnison"}
        , {d: "Great Sand Dunes"}, {d: "Mesa Verde"}, {d: "Rocky Mountain"}, {d: "Biscayne"}, {d: "Dry Tortugas"}, {d: "Everglades"}
        , {d: "Haleakala"}, {d: "Hawaii Volcanoes"}, {d: "Yellowstone"}, {d: "Mammoth Cave"}, {d: "Acadia"}, {d: "Isle Royale"}, {d: "Voyageurs"}
        , {d: "Glacier"}, {d: "Great Basin"}, {d: "Carlsbad Caverns"}, {d: "Great Smoky Mountains"}, {d: "Theodore Roosevelt"}, {d: "Cuyahoga Valley"}
        , {d: "Crater Lake"}, {d: "Congaree"}, {d: "Badlands"}, {d: "Wind Cave"}, {d: "Great Smoky Mountains"}, {d: "Big Bend"}, {d: "Guadalupe Mountains"},
        {d: "Virgin Islands"}, {d: "Arches"}, {d: "Bryce Canyon"}, {d: "Capitol Reef"}, {d: "Canyonlands"}, {d: "Zion"}, {d: "Shenandoah"}, {d: "Mount Rainier"},
        {d: "North Cascades"}, {d: "Olympic"}, {d: "Grand Teton"}]
      });

      // initialize the bloodhound suggestion engine
      engine.initialize();

      $('#search-box .typeahead').typeahead(null, {
          displayKey: 'd',
          source: engine.ttAdapter()
      }).on('typeahead:selected', function(e, data) {

      });




</script>

</html>
