<!DOCTYPE html>
<html>
<head>
  <title>Attractus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <%= yield %>
  <%= render 'layouts/footer' %>

</body>

<script>
  $( document ).ready(function() {


});
    //parallax effect for jumbotron
    var jumboHeight = $('.jumbotron').outerHeight();
    function parallax(){
        var scrolled = $(window).scrollTop();
        $('.bg').css('height', (jumboHeight-scrolled) + 'px');
    }

    $(window).scroll(function(e){
        parallax();
    });

    //nav wrapper scroll effect
    $(document).on('scroll', function (e) {
    $('nav').css('opacity', ($(document).scrollTop() / 50));
    });

    //typeahead for parks

      var engine = new Bloodhound({
          datumTokenizer: Bloodhound.tokenizers.obj.whitespace('d'),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
          local: [{
              d: "Alabama"
          }, {
              d: "Alaska"
          }, {
              d: "Arizona"
          }, {
              d: "Arkansas"
          }]
      });

      // initialize the bloodhound suggestion engine
      engine.initialize();

      $('#the-basics .typeahead').typeahead(null, {
          displayKey: 'd',
          source: engine.ttAdapter()
      });


</script>

</html>
